---
export interface Props {
    position: string;
}

const { position } = Astro.props
---

<section class=`w-64 h-64 bg-white/55 dark:bg-[#145da0]/55 rounded-2xl flex items-${position} justify-${position}`>
    <slot />
</section>
