---
import SocialIcons from "./SocialIcons.astro";

---

<footer class="foot">
    <section>
        <SocialIcons />
    </section>
</footer>



<style>
    .foot {
        display: flex;
        gap: 20px;
        height: 10vh;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
</style>