---
import ThemeSelector from "./ThemeSelector.astro";

---

<header class="flex flex-row h-[10vh] top-5 sticky align-middle justify-center z-50">
    <nav class="flex flex-row  h-[40px] pr-6 pl-6 align-middle justify-center  rounded-4xl bg-blue-100">
        <div class="flex flex-row h-fit mt-[7px] gap-5 align-middle">
            <a href="#home"> Perfil </a>
            <a href="#cv"> Experiencia </a>
            <a href="#projects"> Proyectos </a>
            <a href="#contact"> Contacto </a>
        </div>
    </nav>
    <div class="bg-blue-100">
        <ThemeSelector />
    </div>
</header>

<script>
    import { initNav } from "../shared/initNav"
    initNav("header-nav");
</script>

<style>
    a {
        text-decoration: none;
        color: black;
    }
</style>