---
import { getLangFromUrl } from "../i18n/utils";
import "../styles/global.css";

const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
	<head>
		<!-- TODO: Add meta tags for SEO -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Iria Ramos - Software Developer</title>
	</head>
	<body class="m-0 w-[100%] h-[100%] bg-linear-to-b from-[#2e8bc0] via-[#75afd1] to-[#b1d4e0] overflow-y-scroll dark:bg-linear-to-b dark:from-[#0c2d48] dark:via-[#114978] dark:to-[#145da0]">
		<slot />
	</body>
</html>
